@import "~bootstrap/scss/bootstrap";
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.auth-container form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-container button {
    width: 100%;
    padding: 10px;
    background-color: #1f7f19;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.auth-container h2 {
    margin-bottom: 20px;
}

nav {
    background-color: #efe7d9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    color: #1f7f19;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav a {
    color: #1f7f19;
    margin: 0 10px;
    text-decoration: none;
}